<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.rttmall.shopbackend.app.customer.mapper.AgentSettlementCustomMapper">
	<resultMap id="AgentSettlementResultMap"
		type="com.rttmall.shopbackend.app.customer.pojo.AgentSettlementCustom">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="agent_id" jdbcType="INTEGER" property="agentId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="daily_trade_number" jdbcType="INTEGER"
			property="dailyTradeNumber" />
		<result column="sum_daily_service_charge" jdbcType="DECIMAL"
			property="sumDailyServiceCharge" />
		<result column="sum_daily_service_charge_cost" jdbcType="DECIMAL"
			property="sumDailyServiceChargeCost" />
		<result column="daily_rebate" jdbcType="DECIMAL" property="dailyRebate" />
		<result column="business_name" jdbcType="VARCHAR" property="business.businessName" />
		<result column="agent_name" jdbcType="VARCHAR" property="agent.agentName" />
		<result column="agent_phone" jdbcType="VARCHAR" property="agent.agentPhone" />
	</resultMap>
	<sql id="agent_settlement_where">
		<if test="agent!=null">
			<if test="agent.agentPhone!=null and agent.agentPhone!=''">
				and a.agent_phone =#{agent.agentPhone}
			</if>
		</if>
		<if test="agent!=null">
			<if test="agent.agentName!=null and agent.agentName!=''">
				and a.agent_name like concat('%',#{agent.agentName},'%')
			</if>
		</if>
		<if test="business!=null">
			<if test="business.businessName!=null and business.businessName!=''">
				and b.business_name like concat('%',#{business.businessName},'%')
			</if>
		</if>
		<if test="startDateTime!=null">
			and tas.create_time &gt;= #{startDateTime}
		</if>
		<if test="endDateTime!=null">
			and tas.create_time &lt;= #{endDateTime}
		</if>
	</sql>
	<sql id="agent_settlement_business_where">
		<if test="agent!=null">
			<if test="agent.agentPhone!=null and agent.agentPhone!=''">
				and a.agent_phone =#{agent.agentPhone}
			</if>
		</if>
		<if test="agent!=null">
			<if test="agent.agentName!=null and agent.agentName!=''">
				and a.agent_name like concat('%',#{agent.agentName},'%')
			</if>
		</if>
		<if test="startDateTime!=null">
			and tas.create_time &gt;= #{startDateTime}
		</if>
		<if test="endDateTime!=null">
			and tas.create_time &lt;= #{endDateTime}
		</if>
	</sql>
	<select id="queryAgentSettlement" parameterType="AgentSettlementCustom"
		resultMap="AgentSettlementResultMap">
		select
		tas.id, tas.agent_id,tas.create_time, tas.daily_trade_number,
		tas.sum_daily_service_charge,
		tas.sum_daily_service_charge_cost, tas.daily_rebate,
		b.business_name,a.agent_name,a.agent_phone
		from t_agent_settlement tas
		left join t_agent a on a.id=tas.agent_id
		left join t_business b on b.id=a.business_id
		<where>
			<include refid="agent_settlement_where"></include>
		</where>
		order by tas.id desc
	</select>
	<select id="queryAgentSettlementBusiness" parameterType="AgentSettlementCustom"
		resultMap="AgentSettlementResultMap">
		select
		tas.id, tas.agent_id,tas.create_time, tas.daily_trade_number,
		tas.sum_daily_service_charge,
		tas.sum_daily_service_charge_cost, tas.daily_rebate,
		a.agent_name,a.agent_phone,b.business_name
		from t_agent_settlement tas
		left join t_agent a on a.id=tas.agent_id
		,t_business b
		<where>
			b.id=a.business_id and b.login_id=#{loginId}
			<include refid="agent_settlement_business_where"></include>
		</where>
		order by tas.id desc
	</select>
</mapper>