<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rttmall.shopbackend.app.customer.mapper.BankCardMapper">
  <resultMap id="BaseResultMap" type="com.rttmall.shopbackend.app.customer.pojo.BankCard">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_province" jdbcType="VARCHAR" property="bankProvince" />
    <result column="bank_city" jdbcType="VARCHAR" property="bankCity" />
    <result column="bank_address" jdbcType="VARCHAR" property="bankAddress" />
    <result column="bank_card_id" jdbcType="VARCHAR" property="bankCardId" />
    <result column="audit_status" jdbcType="INTEGER" property="auditStatus" />
    <result column="operator" jdbcType="INTEGER" property="operator" />
    <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, bank_name, bank_province, bank_city, bank_address, bank_card_id, 
    audit_status, operator, operation_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bank_card
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_bank_card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rttmall.shopbackend.app.customer.pojo.BankCard">
    insert into t_bank_card (id, customer_id, bank_name, 
      bank_province, bank_city, bank_address, 
      bank_card_id, audit_status, operator, 
      operation_time)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{bankName,jdbcType=VARCHAR}, 
      #{bankProvince,jdbcType=VARCHAR}, #{bankCity,jdbcType=VARCHAR}, #{bankAddress,jdbcType=VARCHAR}, 
      #{bankCardId,jdbcType=VARCHAR}, #{auditStatus,jdbcType=INTEGER}, #{operator,jdbcType=INTEGER}, 
      #{operationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rttmall.shopbackend.app.customer.pojo.BankCard">
    insert into t_bank_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankProvince != null">
        bank_province,
      </if>
      <if test="bankCity != null">
        bank_city,
      </if>
      <if test="bankAddress != null">
        bank_address,
      </if>
      <if test="bankCardId != null">
        bank_card_id,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operationTime != null">
        operation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankProvince != null">
        #{bankProvince,jdbcType=VARCHAR},
      </if>
      <if test="bankCity != null">
        #{bankCity,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null">
        #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankCardId != null">
        #{bankCardId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null">
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rttmall.shopbackend.app.customer.pojo.BankCard">
    update t_bank_card
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankProvince != null">
        bank_province = #{bankProvince,jdbcType=VARCHAR},
      </if>
      <if test="bankCity != null">
        bank_city = #{bankCity,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null">
        bank_address = #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankCardId != null">
        bank_card_id = #{bankCardId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null">
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rttmall.shopbackend.app.customer.pojo.BankCard">
    update t_bank_card
    set customer_id = #{customerId,jdbcType=INTEGER},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_province = #{bankProvince,jdbcType=VARCHAR},
      bank_city = #{bankCity,jdbcType=VARCHAR},
      bank_address = #{bankAddress,jdbcType=VARCHAR},
      bank_card_id = #{bankCardId,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      operator = #{operator,jdbcType=INTEGER},
      operation_time = #{operationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>