<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rttmall.shopbackend.app.customer.mapper.FundMapper">
  <resultMap id="BaseResultMap" type="com.rttmall.shopbackend.app.customer.pojo.Fund">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="invest_amount" jdbcType="INTEGER" property="investAmount" />
    <result column="apply_amount" jdbcType="INTEGER" property="applyAmount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="deposit_balance" jdbcType="DECIMAL" property="depositBalance" />
    <result column="flush_time" jdbcType="TIMESTAMP" property="flushTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, balance, invest_amount, apply_amount, remark, deposit_balance, flush_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_fund
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_fund
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rttmall.shopbackend.app.customer.pojo.Fund">
    insert into t_fund (id, customer_id, balance, 
      invest_amount, apply_amount, remark, 
      deposit_balance, flush_time)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{balance,jdbcType=DECIMAL}, 
      #{investAmount,jdbcType=INTEGER}, #{applyAmount,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{depositBalance,jdbcType=DECIMAL}, #{flushTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rttmall.shopbackend.app.customer.pojo.Fund">
    insert into t_fund
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="investAmount != null">
        invest_amount,
      </if>
      <if test="applyAmount != null">
        apply_amount,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="depositBalance != null">
        deposit_balance,
      </if>
      <if test="flushTime != null">
        flush_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="investAmount != null">
        #{investAmount,jdbcType=INTEGER},
      </if>
      <if test="applyAmount != null">
        #{applyAmount,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="depositBalance != null">
        #{depositBalance,jdbcType=DECIMAL},
      </if>
      <if test="flushTime != null">
        #{flushTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rttmall.shopbackend.app.customer.pojo.Fund">
    update t_fund
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="investAmount != null">
        invest_amount = #{investAmount,jdbcType=INTEGER},
      </if>
      <if test="applyAmount != null">
        apply_amount = #{applyAmount,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="depositBalance != null">
        deposit_balance = #{depositBalance,jdbcType=DECIMAL},
      </if>
      <if test="flushTime != null">
        flush_time = #{flushTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rttmall.shopbackend.app.customer.pojo.Fund">
    update t_fund
    set customer_id = #{customerId,jdbcType=INTEGER},
      balance = #{balance,jdbcType=DECIMAL},
      invest_amount = #{investAmount,jdbcType=INTEGER},
      apply_amount = #{applyAmount,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      deposit_balance = #{depositBalance,jdbcType=DECIMAL},
      flush_time = #{flushTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>